<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>change_01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{43,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{86,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{172,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{301,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{344,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{387,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{430,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{473,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{516,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{559,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{602,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_16.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{645,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_17.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{688,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_18.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{731,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_19.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{774,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_20.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_21.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{860,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_22.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{903,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_23.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{946,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_24.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{989,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_25.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1032,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_26.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1075,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_27.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1118,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_28.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1161,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_29.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1204,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_30.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1247,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_31.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1290,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>change_32.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,50}</string>
				<key>spriteSourceSize</key>
				<string>{43,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1333,0},{43,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1376,50}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>change.png</string>
				<key>textureFileName</key>
				<string>change</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
