<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rain_01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{60,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{420,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{540,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{600,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{660,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{720,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_16.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{900,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_17.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{960,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_18.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1020,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rain_19.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,52}</string>
				<key>spriteSourceSize</key>
				<string>{60,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1080,0},{60,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1140,52}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>rain.png</string>
				<key>textureFileName</key>
				<string>rain</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
