<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>strength_up_01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{144,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{432,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{528,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{576,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>strength_up_14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{624,0},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{672,70}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>strength_up.png</string>
				<key>textureFileName</key>
				<string>strength_up</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
