<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stretcher01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{390,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{520,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{650,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{780,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stretcher08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,44}</string>
				<key>spriteSourceSize</key>
				<string>{130,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{910,0},{130,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1040,44}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>stretcher.png</string>
				<key>textureFileName</key>
				<string>stretcher</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
