<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>digital_0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{30,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{60,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>digital_9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,25}</string>
				<key>spriteSourceSize</key>
				<string>{30,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,0},{30,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{300,25}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>digital_round.png</string>
				<key>textureFileName</key>
				<string>digital_round</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
